{% extends 'base.html' %}

{% block bodyblock %}

        <div class="container">
            <br><br>
            <h2 class="content">Welcome To <span style="color:#198b90">Vision Recognition Web Page</span></h3>
            <br>
            
            <p>
                Vision Recognition is data driven company.We uses a facial recognition system that is a technology capable of matching a human face from a digital image or a video frame against a database of faces.We work on artificaial intelligence and machine learning projects.
            </p>
            

        </div>
{% endblock  %}
